<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpaceEngineersBPManagerGUI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <SpaceEngineersBPManagerGUI.My.MySettings>
            <setting name="SpaceEngineersDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SpaceEngineersBPDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SpaceEngineersModsDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SpaceEngineersWorkingDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ThemeBackColor" serializeAs="String">
                <value>35, 35, 35</value>
            </setting>
            <setting name="ThemeForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="IdentifierAplha" serializeAs="String">
                <value>0</value>
            </setting>
        </SpaceEngineersBPManagerGUI.My.MySettings>
    </userSettings>
</configuration>
